* {
    margin: 0;
    bottom: 0;
}

img{
    width: 100%;

}

.color{
    background-color: #85929E;
}

.logo{
    width: 10rem;
    vertical-align: top;
}

.imagMimiquate{
    width: 50rem;
    
}

